<div class="container">
        <img src="assets/img/titulo-palmares-movil.png" class="img-fluid mt-3 mb-1 d-md-none" alt="">
        <img src="assets/img/titulo-palmares.png" class="img-fluid mt-3 mb-3 d-none d-md-block" alt="">
  <div class="row">
        <div class="col-12">
                <img src="assets/img/campeones.jpg" class="image mt-3 mb-3" alt="">
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copa-europaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa de Europa</p>
                                <p class="text-center">Veces ganada: 5</p>
                               
                        </div>
                </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee">
                        <img src="assets/img/copas/mundial-de-clubes.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa Mundial de Clubs de la FIFA</p>
                                <p class="text-center">Veces ganada: 3</p>
                                
                        </div>
                </div>
        </div> 
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/recopa-europaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Recopa de Europa</p>
                                <p class="text-center">Veces ganada: 4</p>
                             
                        </div>
                </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copaa-de-fires.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa de Ferias</p>
                                <p class="text-center">Veces ganada: 3</p>
                              
                        </div>
                </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/supercopa-de-europaaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Supercopa de Europa</p>
                                <p class="text-center">Veces ganada: 5</p>
                               
                        </div>
                </div>
        </div> 
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copa-llatinaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa Latina</p>
                                <p class="text-center">Veces ganada: 2</p>
                              
                        </div>
                </div>
        </div>       
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/lligaaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Liga</p>
                                <p class="text-center">Veces ganada: 25</p>
 
                        </div>
                </div>   
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copa-del_rey.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa del Rey</p>
                                <p class="text-center">Veces ganada: 30</p>
  
                        </div>
                </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/supercopa-espanaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Supercopa de España</p>
                                <p class="text-center">Veces ganada: 13</p>

                        </div>
                </div>   
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copa-de-la-lligaa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa de la Liga</p>
                                <p class="text-center">Veces ganada: 2</p>
                              
                        </div>
                </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/campeonato-de-catalunya.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Campeonato de Catalunya</p>
                                <p class="text-center">Veces ganada: 23</p>
                         
                        </div>
                </div>       
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/pic-super-copa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Supercopa Catalunya</p>
                                <p class="text-center">Veces ganada: 2</p>
                                
                        </div>
                </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/copa-catalunya-copa.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa Catalunya</p>
                                <p class="text-center">Veces ganada: 8</p>
                              
                        </div>
                </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 contenido">
                <div class="bordee ">
                        <img src="assets/img/copas/evaduarteee.jpg" class="img-fluid imagen" alt="">
                        <div class="datos-trofeo">
                                <p class="text-center">Copa Eva Duarte</p>
                                <p class="text-center">Veces ganada: 3</p>
                                
                        </div>
                </div>  
        </div>


