<div class="footer">
  <div class="cuerpo-footer">
      <a href="https://co.pinterest.com/fcbarcelona/?autologin=true"><i class="fab fa-pinterest-square iconos whatsapp"></i></a>
      <a href="https://www.facebook.com/fcbarcelona"><i class="fab fa-facebook-square iconos facebook"></i></a>
      <a href="https://twitter.com/FCBarcelona_es"><i class="fab fa-twitter-square iconos linkedin"></i></a>
      <a href="https://www.youtube.com/fcbarcelona"><i class="fab fa-youtube-square iconos envelope"></i></a>
  </div>
</div>
