<img src="assets/img/barcelona.png" class="img-fluid" alt="">

<div class="container">
    <img src="assets/img/titulo-plantilla-movil.png" class="img-fluid mt-3 mb-1 d-md-none" alt="">
    <img src="assets/img/titulo-plantilla.png" class="img-fluid mt-3 d-none d-md-block" alt="">
  
    <div class="row">
       
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".unobd-example-modal-lg">
                <img src="assets/img/ter-stegen.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">1</p> 
                    <p class="nombre text-center">Ter Stegen</p>
                    <p class="posision text-center">PORTERO</p>   
                </div>              
        </div>
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".dosbd-example-modal-lg">
                <img src="assets/img/semedo.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">2</p> 
                    <p class="nombre ">Nélson Semedo</p>
                    <p class="posision ">DEFENSA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".tresbd-example-modal-lg">
                <img src="assets/img/pique.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">3</p> 
                    <p class="nombre ">Piqué</p>
                    <p class="posision ">DEFENSA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".cuatrobd-example-modal-lg">
                <img src="assets/img/rakitic.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">4</p> 
                    <p class="nombre ">I. Rakitic</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".cincobd-example-modal-lg">
                <img src="assets/img/busquets.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">5</p> 
                    <p class="nombre ">Sergio Busquets</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".seisbd-example-modal-lg">
                <img src="assets/img/d-suarez.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">6</p> 
                    <p class="nombre ">Denis Suárez</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".sietebd-example-modal-lg">
                <img src="assets/img/coutinho.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">7</p> 
                    <p class="nombre ">Coutinho</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".ochobd-example-modal-lg">
                <img src="assets/img/arthur.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">8</p> 
                    <p class="nombre ">Arthur</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".nuevebd-example-modal-lg">
                <img src="assets/img/suarez.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">9</p> 
                    <p class="nombre ">Luis Suárez</p>
                    <p class="posision ">DELANTERO CENTRO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".diezbd-example-modal-lg">
                <img src="assets/img/messi.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">10</p> 
                    <p class="nombre ">Messi</p>
                    <p class="posision ">DELANTERO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".oncebd-example-modal-lg">
                <img src="assets/img/dembele.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">11</p> 
                    <p class="nombre ">Dembélé</p>
                    <p class="posision ">DELANTERO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".docebd-example-modal-lg">
                <img src="assets/img/rafinha.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">12</p> 
                    <p class="nombre ">Rafinha</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".tresebd-example-modal-lg">
                <img src="assets/img/cillessen.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">13</p> 
                    <p class="nombre ">Cillessen</p>
                    <p class="posision ">PORTERO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".catorcebd-example-modal-lg">
                <img src="assets/img/malcom.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">14</p> 
                    <p class="nombre ">Malcom</p>
                    <p class="posision ">DELANTERO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".quincebd-example-modal-lg">
                <img src="assets/img/lenglet.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">15</p> 
                    <p class="nombre ">Lenglet</p>
                    <p class="posision ">DEFENSA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".dieciseisbd-example-modal-lg">
                <img src="assets/img/samper.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">16</p> 
                    <p class="nombre ">Samper</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".diecisietebd-example-modal-lg">
                <img src="assets/img/jordi.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">18</p> 
                    <p class="nombre ">Jordi Alba</p>
                    <p class="posision ">LATERAL IZQUIERDO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".dieciochobd-example-modal-lg">
                <img src="assets/img/munir.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">19</p> 
                    <p class="nombre ">Munir</p>
                    <p class="posision ">DELANTERO</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".diecinuevebd-example-modal-lg">
                <img src="assets/img/roberto.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">20</p> 
                    <p class="nombre ">S. Roberto</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".veintebd-example-modal-lg">
                <img src="assets/img/vidal.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">22</p> 
                    <p class="nombre ">Arturo Vidal</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".veintiunobd-example-modal-lg">
                <img src="assets/img/umtiti.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">23</p> 
                    <p class="nombre ">Umtiti</p>
                    <p class="posision ">DEFENSA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".veintidosbd-example-modal-lg">
                <img src="assets/img/vermaelen.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">24</p> 
                    <p class="nombre ">Vermaelen</p>
                    <p class="posision ">DEFENSA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".veintitresbd-example-modal-lg">
                <img src="assets/img/aleña.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">26</p> 
                    <p class="nombre ">Aleñá</p>
                    <p class="posision ">CENTROCAMPISTA</p>   
                </div>   
        </div> 
        <div class="col-6 col-md-4 col-lg-3 mt-3" data-toggle="modal" data-target=".cerobd-example-modal-lg">
                <img src="assets/img/valverde.jpg" class="img-fluid" alt="">
                <div class="datos">
                    <p class="numero">DT</p> 
                    <p class="nombre ">Ernesto Valverde</p>
                    <p class="posision ">ENTRENADOR</p>     
                </div>   
        </div> 
    </div>
</div>


<!-- modales -->
<div class="modal fade unobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Marc-André ter Stegen</h1>
        <p>Ter Stegen ha competido al máximo nivel desde los 19 años. Portero sobrio y con un gran dominio del juego de pies, el alemán se ha convertido ya en una realidad de presente y futuro.</p>
    </div>
  </div>
</div>

<div class="modal fade dosbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Nélson Cabral Semedo</h1>
        <p>Semedo es un lateral ofensivo de perfil Barça: rápido, preciso y con un gran potencial para explotar.</p>
    </div>
  </div>
</div>

<div class="modal fade tresbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Gerard Piqué</h1>
        <p>Considerado uno de los mejores centrales del mundo, Gerard Piqué reúne carácter, clase y un poderoso juego aéreo, características que lo han convertido en pieza fundamental en el Barça.</p>
    </div>
  </div>
</div>

<div class="modal fade cuatrobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Ivan Rakitic</h1>
        <p>Referente en la selección de Croacia y en el FC Barcelona, Ivan Rakitic es un centrocampista que aporta trabajo, kilómetros, asistencias y goles, como el que marcó en la final de Berlín de 2015.</p>
    </div>
  </div>
</div>

<div class="modal fade cincobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Sergio Busquets</h1>
        <p>Sergio Busquets es probablemente el mejor mediocentro defensivo del mundo. Recuperador por excelencia, destaca por su técnica y su brillante lectura táctica.</p>
    </div>
  </div>
</div>

<div class="modal fade seisbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Denis Suárez</h1>
        <p>Denis Suárez, primer fichaje de la temporada 2016/17, es un centrocampista técnico que aporta siempre una buena cifra de goles.</p>
    </div>
  </div>
</div>

<div class="modal fade sietebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Philippe Coutinho Correia</h1>
        <p>Philippe Coutinho es un jugador excelso y con una gran técnica. Está llamado a ser uno de los grandes jugadores del panorama futbolístico mundial.</p>
    </div>
  </div>
</div>

<div class="modal fade ochobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Arthur Henrique Ramos de Oliveira Melo</h1>
        <p>Centrocampista con gran control del balón, destaca por su verticalidad, la buena visión de juego, y la gran capacidad de asociación.</p>
    </div>
  </div>
</div>

<div class="modal fade nuevebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Luis Suárez</h1>
        <p>Luis Suárez es garantía de goles. Realizador y también asistente, el ‘9’ del Barça es un delantero con carácter, luchador y ganador.</p>
    </div>
  </div>
</div>

<div class="modal fade diezbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Lionel Messi</h1>
        <p>Leo Messi es el mejor jugador del mundo. Superdotado técnicamente, reúne todos los atributos necesarios para ser el número uno: sangre fría, velocidad, generosidad, desequilibrio y gol.</p>
    </div>
  </div>
</div>

<div class="modal fade oncebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Ousmane Dembélé</h1>
        <p>El extremo francés es uno de los futbolistas con más capacidad de desequilibrio y regate en el fútbol mundial.</p>
    </div>
  </div>
</div>

<div class="modal fade docebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Rafael Alcántara do Nascimento</h1>
        <p>‘Rafinha’, en el Club desde los 13 años, combina calidad, visión de juego y llegada, atributos que le convierten en un centrocampista muy a tener en cuenta.</p>
    </div>
  </div>
</div>

<div class="modal fade tresebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Jasper Cillessen</h1>
        <p>El segundo portero holandés de la historia del Barça reúne capacidad de reacción, reflejos y un buen juego de pies.</p>
    </div>
  </div>
</div>

<div class="modal fade catorcebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Malcom Filipe Silva de Oliveira</h1>
        <p>Extremo eléctrico hábil con el balón en los pies y con un potente disparo. Además, es un futbolista con proyección.</p>
    </div>
  </div>
</div>

<div class="modal fade quincebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Clément Lenglet</h1>
        <p>Considerado uno de los defensas con más proyección del planeta, el francés destaca por su capacidad de salir con el balón jugado, así como por la inteligencia y la contundencia.</p>
    </div>
  </div>
</div>

<div class="modal fade dieciseisbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Sergi Samper</h1>
        <p>Surgido de la FCB Escola, el centrocampista de Barcelona ha pasado por todas las categorías inferiores de la cantera azulgrana hasta llegar al primer equipo.</p>
    </div>
  </div>
</div>

<div class="modal fade diecisietebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Jordi Alba</h1>
        <p>Rápido como pocos, Jordi Alba destaca por ser uno de los laterales izquierdos más hábiles y ofensivos del mundo.</p>
    </div>
  </div>
</div>

<div class="modal fade dieciochobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Munir El Haddadi</h1>
        <p>Héroe de la primera UEFA Youth League del Juvenil azulgrana, Munir el Haddadi es un prometedor delantero de futuro.</p>
    </div>
  </div>
</div>

<div class="modal fade diecinuevebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Sergi Roberto</h1>
        <p>Con 14 años Sergi Roberto abandona el Reus para pisar con fuerza en la Masía del FC Barcelona. Procedente del Nàstic de Tarragona, el centrocampista se consolida etapa tras etapa hasta convertirse en una pieza fija en el esquema del filial dirigido por Luis Enrique, equipo con el que debuta la temporada 2009/10.</p>
    </div>
  </div>
</div>

<div class="modal fade veintebd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Arturo Vidal</h1>
        <p>Centrocampista que destaca por una buena solidez defensiva, y también por el talento para combinar en ataque y ofrecer grandes internadas en el área.</p>
    </div>
  </div>
</div>

<div class="modal fade veintiunobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Samuel Umtiti</h1>
        <p>El internacional francés, azulgrana desde 2016, se caracteriza por su potencia física, su capacidad de anticipación y su buena salida de balón</p>
    </div>
  </div>
</div>

<div class="modal fade veintidosbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Thomas Vermaelen</h1>
        <p>Thomas Vermaelen es conocido por su contundencia defensiva y por su finura con el balón en los pies.</p>
    </div>
  </div>
</div>

<div class="modal fade veintitresbd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Carles Aleñá</h1>
        <p>Centrocampista zurdo que destaca por tener un físico privilegiado y un disparo potente y de calidad.</p>
    </div>
  </div>
</div>

<div class="modal fade cerobd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
        <h1>Ernesto Valverde</h1>
        <p>Ernesto Valverde es un entrenador que sabe gestionar bien los equipos y que le gusta tener el control del balón, apostando por un juego ofensivo</p>
    </div>
  </div>
</div>

